/* colours */

body {
    font-family: 'Open Sans', sans-serif;
}

.big-whitespace {
    height: 1000px;
}

.info-box {
    opacity: 0.1;
    margin: 1em 0px;
}

.info-box:hover {
    opacity: 1;
}

.result {
    background-color: #F0F0F0;
    min-width: 600px;
    min-height: 8px;
    margin: 1em 0px;
}

.sticky {
    border-left: solid #e30066 4px;
}

.stuck {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 17%;
    border: solid #e30066 4px;
    margin-top: 0;
}

.snippet {
    display: inline-block;
    margin: 0 0;
}

.page-count {
    fill: white;
    font-size: 10;
    font-family: marydale, 'Courier New';
    text-anchor: start;
}

.title {
    font-family: marydale, 'Courier New';
}

#leader {
    width: 600px;
    margin-left: 17%;
}

#outro {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#outro img {
    width: 212px;
    height: 32px;
}

#thoughtworks {
    font-family: marydale;
    display: block;
    margin: 1em auto;
}
